
// =========== ## Global Variable =====

/* ------- Colors and Fonts ----- */
$body-color:#E5E5E5;
$white-color: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
$poppin-font: 'Poppins', sans-serif;

/* -------html tag ----- */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smoot
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:$poppin-font;
  font-size: 1.6rem;
  position: relative;
  height: 100%;
  overflow-x: hidden;


}




h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li,
span,
input,
select,
textarea {
  font-family:$poppin-font;
}

p {
  font-size: 1.7rem;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;


  &:hover {
    text-decoration: none;


  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


:focus {
  outline: none !important;
}

input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid black !important;
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;

}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  border: none !important;
}

button:hover {
  border: none !important;
}



::selection {
  background: blue;
  color: white;
  text-shadow: none;
}

*::-moz-selection {
  background: blue;
  color: white;
  text-shadow: none;
}


*::placeholder {
  color: black;
  font-size: 1.7rem;
  opacity: 1;
}

*::-moz-placeholder {
  color: black;
  font-size: 1.7rem;
  opacity: 1;
}

// Hide input number type right icon

/*  Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





// ========== Responsive BreakPoints ===========

@mixin mediaMaxWidth($rwdWidth) {
  @media (max-width: $rwdWidth) {
    @content;
  }
}

@mixin mediaMinWidth($rwdWidth) {
  @media (min-width: $rwdWidth) {
    @content;
  }
}

@mixin mediaBreakWidth($rwdMin-Width, $rwdMax-Width) {
  @media (min-width: $rwdMin-Width) and (max-width: $rwdMax-Width) {
    @content;
  }
}

// ========== Mixin ===========

@mixin Background-image($bg-posi: center center,
  $bg-rept: no-repeat,
  $bg-attach: fixed,
  $bg-size: cover) {
  background-position: $bg-posi;
  background-repeat: $bg-rept;
  background-attachment: $bg-attach;
  background-size: $bg-size;
}

@mixin Button-hover-transition() {
  transition: all 0.5s ease-in-out !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  -moz-transition: all 0.5s ease-in-out !important;
  -ms-transition: all 0.5s ease-in-out !important;
  -o-transition: all 0.5s ease-in-out !important;
}








// ========== Extends ===========



/* @import "assets/css/globalStyle"; */

// ============ Layout ===============
.my-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include mediaMinWidth(1400px){
    max-width: 1320px;

  }
  @include mediaMinWidth(1200px){
    max-width: 1140px;

  }
  @include mediaBreakWidth(992px, 1199px){
    max-width: 960px;
  }
  @include mediaBreakWidth(768px, 991px){
    max-width: 720px;
  }
  @include mediaBreakWidth(575px, 767px){
    max-width: 540px;
  }
  @include mediaMaxWidth(574px){
    max-width: 100%;
  }

}


.my-row::after {
  content: "";
  clear: both;
  // display: table;
}

/* ============ Navbar Section =========== */

/* ------------ Sticky Navbar   ------------*/
.navbar-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100000;
  background: black;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  padding: 1.5rem 0;
}

/* ============ Hero Section =========== */


/* ============ Service Section =========== */

/* ============ Footer Section =========== */

